IMAGE_TAG=latest
WEBUI_PORT=8787
TZ=Asia/Shanghai
CONFIG_HOST_DIR=/mnt/user/appdata/unraid-icon-manager
ICON_HOST_ROOT=/mnt/user/appdata/unraid-icon-manager/icons
WALLPAPER_HOST_ROOT=/mnt/user/appdata/unraid-icon-manager/wallpapers
# 最大上传大小，单位为字节；默认 5 MiB。
MAX_UPLOAD_BYTES=5242880
# 壁纸允许更大文件，默认 30 MiB。
MAX_WALLPAPER_BYTES=31457280
# 必须能被 Unraid 主机访问，端口要和 WEBUI_PORT 一致。
PUBLIC_BASE_URL=http://YOUR_UNRAID_IP:8787
# 点击“刷新 Docker 页面”时打开的实际地址，自定义 WebGUI 端口也要写入。
UNRAID_DOCKER_URL=http://YOUR_UNRAID_IP:5000/Docker
